# Lists *****

A list is an ordered collections of items.

Python uses the square brackets `[]` to indicate a list.

In [1]:
# create an empty list
empty_list = []

In [2]:
empty_list

[]

In [3]:
# A list can contains one or mode items
todo_list = ["mmo", "python", "course"]

In [4]:
todo_list

['mmo', 'python', 'course']

In [5]:
type(todo_list)

list

In [6]:
len(todo_list)

3

Since a list often contains many items, it’s a good practice to name it using plural nouns e.g., `numbers`, `colors`, and `shopping_carts`. A list can contain any type of item, like float, int, string.

In [7]:
# a list can contains other list
coordinates = [[0,0], [100,100], [200,200]]

In [8]:
coordinates

[[0, 0], [100, 100], [200, 200]]

### Accessing elements in a list

In [9]:
coordinates[0] # since [0,0] is one element of the bigger list

[0, 0]

In [11]:
coordinates[2]

[200, 200]

The `list[-1]` returns the last element. The `list[-2]` returns the second last element, and so on.

In [10]:
coordinates[-1]

[200, 200]

In [13]:
coordinates[-3]

[0, 0]

In [14]:
# access elements of list in list
coordinates[1][0] # büyükten küçüğe doğru içeriye gidiyoruz

100

### Modifying elements in a list

To change an element, you assign a new value to it using this syntax:

`list[index] = new_value`

In [15]:
numbers = [0, 1, 2, 3, 4, 5]

#numbers[0] = 10

numbers

[0, 1, 2, 3, 4, 5]

In [16]:
numbers[0]

0

In [17]:
numbers[0] = 10

In [18]:
numbers

[10, 1, 2, 3, 4, 5]

In [19]:
# divides the third element by 2
numbers[2] /= 2 # numbers[2] = numbers[2] / 2

In [20]:
numbers

[10, 1, 1.0, 3, 4, 5]

### Adding elements to the list *****

The `append()` method appends an element to the end of a list.

In [21]:
numbers

[10, 1, 1.0, 3, 4, 5]

In [22]:
numbers.append(100)
numbers

[10, 1, 1.0, 3, 4, 5, 100]

The `insert()` method adds a new element at any position in the list.

In [23]:
numbers.insert(2, 100) # not deleting the existing one, just adding new one
numbers

[10, 1, 100, 1.0, 3, 4, 5, 100]

### Removing elements from a list

The `del()` statement allows you to remove an element from a list by specifying the position of the element.

In [24]:
del numbers[2]

In [25]:
numbers

[10, 1, 1.0, 3, 4, 5, 100]

The `pop()` method removes the last element from a list and returns that element.

In [26]:
numbers.pop()

100

In [27]:
numbers

[10, 1, 1.0, 3, 4, 5]

In [28]:
numbers.pop(0) # no []

10

In [29]:
numbers

[1, 1.0, 3, 4, 5]

Typically, you use the `pop()` method when you want to remove an element from a list and still want to access the value of that element.

To remove an element by value, you use the `remove()` method.

In [30]:
numbers.remove(1.0)

In [32]:
numbers.remove(1.0)

In [33]:
numbers

[3, 4, 5]

In [34]:
len(numbers)

3

# Tuples

A tuple is like a list except that it uses paranthesis `()`.

In [35]:
empty_tuple = ()
type(empty_tuple)

tuple

In [36]:
rgb = ("red", "green", "blue")

In [37]:
# you can access an individual element by its index
rgb[0]

'red'

Since a tuple is immutable, you cannot change its elements. The following example attempts to change the first element of the rgb tuple to `yellow`.

In [38]:
rgb[0] = "yellow"

TypeError: 'tuple' object does not support item assignment

In [41]:
numbers = ("deniz")

In [42]:
type(numbers)

str

To define a tuple with one element, you need to include a trailing comma after the first element.

In [43]:
numbers = (2,)

In [44]:
type(numbers)

tuple

In [45]:
len(numbers)

1

# sort() method *****

It sorts a list.

By default, the `sort()` method sorts the elements of a list using the less-than operator (<). In other words, it places the lower elements before the higher ones.

To sort elements from higher to lower, you pass the `reverse=True` argument to the `sort()` method.

The following example uses the `sort()` method to sort the elements in the guests list alphabetically:

In [46]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort()

print(guests)

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [47]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort(reverse=True)

print(guests)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

In [48]:
scores = [5, 7, 4, 6, 9, 8]
scores.sort()

print(scores)

[4, 5, 6, 7, 8, 9]

In [49]:
scores = [5, 7, 4, 6, 9, 8]
scores.sort(reverse=True)

print(scores)

[9, 8, 7, 6, 5, 4]

In [50]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

In [51]:
companies.sort()

You want to sort the companies list by revenue from highest to lowest.

First, specify a sort key and pass it to the `sort()` method. To define a sort key, you create a function that accepts a tuple and returns the element that you want to sort by.

Second, pass the sort_key function to the `sort()` method.

In [52]:
def sort_key(company):
    return company[2]

In [53]:
companies.sort(key=sort_key, reverse=True)

In [54]:
companies

[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]

Let's do it with a `lambda function`.

In [55]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]


companies.sort(key=lambda company: company[2], reverse=True)

In [56]:
companies

[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]

# List slice notation

Lists support the slice notation that allows you to get a sublist from a list.

`sub_list = list[begin: end: step]`

The begin index defaults to zero. The `end` index defaults to the length of the list. And the `step` index defaults to 1.

The slice will start from the `begin` up to the `end` in the step of `step`.

The `begin`, `end`, and `step` can be positive or negative. Positive values slice the list from the first element to the last element while negative values slice the list from the last element to the first element.

In addition to extracting a sublist, you can use the list slice to change the list such as updating, resizing, and deleting a part of the list.

In [57]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [58]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[1:4]

print(sub_colors)

['orange', 'yellow', 'green']

In [59]:
colors[:3] # first three element 0, 1, 2

['red', 'orange', 'yellow']

In [60]:
colors[-3:] # last three elements

['blue', 'indigo', 'violet']

In [61]:
colors[::2] # return a sublist that includes every 2nd element of the colors list

['red', 'yellow', 'blue', 'violet']

In [62]:
colors[::-1] # reverse a list

['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

# Iterate over a list with index *****

Sometimes, you may want to access indexes of elements inside the loop. In these cases, you can use the `enumerate()` function.

The `enumerate()` function returns a tuple that contains the current index and element of the list.

In [63]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for item in enumerate(cities):
    print(item)

(0, 'New York')
(1, 'Beijing')
(2, 'Cairo')
(3, 'Mumbai')
(4, 'Mexico')

In [64]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities):
    print(f"{index}: {city}")

0: New York
1: Beijing
2: Cairo
3: Mumbai
4: Mexico

The `enumerate()` function allows you to specify the starting index which defaults to zero.

In [65]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities,1):
    print(f"{index}: {city}")

1: New York
2: Beijing
3: Cairo
4: Mumbai
5: Mexico

# How to find the index of an element in a list

In [66]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Mumbai')
print(result)

3

In [67]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Osaka') # not an element of the list
print(result)

ValueError: 'Osaka' is not in list

To fix this issue, you need to use the `in` operator.

The `in` operator returns `True` if a value is in the list. Otherwise, it returns `False`.

Before using the `index()` function, you can use the `in` operator to check if the element that you want to find is in the list. For example:

In [68]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']
city = 'Osaka'

if city in cities:
    result = cities.index(city)
    print(f"The {city} has an index of {result}.")
else:
    print(f"{city} doesn't exist in the list.")

Osaka doesn't exist in the list.