# Python iterables

In Python, an iterable is an object that includes zero, one, or many elements. An iterable has the ability to return its elements one at a time.

Because of this feature, you can use a `for` loop to iterate over an iterable.

`range()`function is an iterable because you can iterate over its result.

In [2]:
for idx in range(3):
    print(idx)

0
1
2

Also a *string* is an iterable because you can use a for loop to iterate over it.

In [1]:
str = "bootcamp"
for i in str:
    print(i)

b
o
o
t
c
a
m
p

Lists and tuples are also iterables because you can loop over them.

In [3]:
ranks = ["high", "medium", "low"]
for i in ranks:
    print(i)

high
medium
low

üëâüèΩ If you know you can loop over something, it's **iterable**.

### Iterator

An iterator is the agent that performs the iteration. To get an iterator from an iterable you use the `√¨ter()`function.

In [14]:
color = ["red", "green", "blue"]
color_iter = iter(color)
color_iter

In [18]:
color = next(color_iter)
color

StopIteration:

It means that once you consume an element from the iterator, it‚Äôs over and gone. Once you complete looping over an iterator, the iterator becomes empty.

Since you can iterate over an iterator, the iterator is also an iterable object.

In [17]:
for color in color_iter:
    print(color)

blue

`red` is being iterate over once, so it's out as you see.

# Map

Sometimes you may need to transform the elements of the list and return a new list that contains the transformed element.

In [19]:
# do in a long way

bonuses = [100, 200, 300]

new_bonuses = []

for bonus in bonuses:
    new_bonuses.append(bonus*2)
    
new_bonuses

[200, 400, 600]

In [20]:
# short and nicer way
# iterators = map(functions, list)

new_bonuses = list(map(lambda x: x*2, bonuses))

In [21]:
new_bonuses

[200, 400, 600]

In [22]:
names = ["david", "peter", "jennifer"]

new_names = list(map(lambda x: x.capitalize(), names))

new_names

['David', 'Peter', 'Jennifer']

In [24]:
bonuses

[100, 200, 300]

### On tuple

you need to calculate the tax amount for each product with a 10% tax 10%. In addition, you need to add the tax amount to the third element of each item in the list.

In [25]:
carts = [['SmartPhone', 400],
         ['Tablet', 450],
         ['Laptop', 700]]

In [27]:
carts = [('SmartPhone', 400),
         ('Tablet', 450),
         ('Laptop', 700)]

In [28]:
TAX = 0.1
carts_ = list(map(lambda item: [item[0], item[1], item[1] * TAX], carts))
carts_

[['SmartPhone', 400, 40.0], ['Tablet', 450, 45.0], ['Laptop', 700, 70.0]]

# Filter

Sometimes, you need to iterate over elements of a list and select some of them based on specified criteria.

In [37]:
scores = [70, 60, 80, 90, 50]

In [39]:
# get all elements from the scores list where each element is greater than or equal to 70
filtered = []

for i in scores:
    if i >= 70:
        filtered.append(i)

print(filtered)

[70, 80, 90]

In [32]:
filtered = filter(lambda score: score >= 70, scores)
list(filtered)
#filtered

[70, 80, 90]

In [40]:
countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]

# get all the countries whose populations are greater than 300 million

populated = list(filter(lambda c: c[1] > 300_000_000, countries))
populated

[['China', 1394015977], ['United States', 329877505], ['India', 1326093247]]

In [42]:
[out for out in countries] # a way of loop over a iteration

[['China', 1394015977],
 ['United States', 329877505],
 ['India', 1326093247],
 ['Indonesia', 267026366],
 ['Bangladesh', 162650853],
 ['Pakistan', 233500636],
 ['Nigeria', 214028302],
 ['Brazil', 21171597],
 ['Russia', 141722205],
 ['Mexico', 128649565]]

In [44]:
[out for out in countries if out[1] != 1394015977] # != not equal

[['United States', 329877505],
 ['India', 1326093247],
 ['Indonesia', 267026366],
 ['Bangladesh', 162650853],
 ['Pakistan', 233500636],
 ['Nigeria', 214028302],
 ['Brazil', 21171597],
 ['Russia', 141722205],
 ['Mexico', 128649565]]

In [45]:
liste = [1,2,3,4]
[out for out in liste]

[1, 2, 3, 4]

In [46]:
for out in liste:
    print(out)

1
2
3
4